extends _base.pug
block pageInfo
    -
        var title = 'NICE GROCERY ナイスグロサリー' ;
        var description = 'はじめまして。ナイスグロサリーです。店内で焼き上げたパンやサンドイッチ、全国から揃えたこだわりの食材を販売する食料品店が静岡市にオープンいたします。あなたと私にちょっとしたナイスを。Nice to me to you';
        var ogpimg = 'http://nice-grocery.com/asset/img/logo.png';
        var date = '';
        var url = 'http://nice-grocery.com/';
        var siteName = 'NICE GROCERY ナイスグロサリー';
        var keywords = 'grocery, 静岡, グローサリーストア, shizuoka';

        var imagePath = './asset/img/'
block meta
  . 
    <link rel="stylesheet" href="https://use.typekit.net/vkz6tge.css">
  link(rel="stylesheet", href="asset/css/style.css?11w")
  
block body
  #main-visual 
    h1
      img(src=imagePath+"logo.png", alt="nice grocery", width=1027, height=214).pc
      img(src=imagePath+"logo_sp.png", alt="nice grocery", width=1027, height=214).sp
    .text-area
      p.lead 2025.11.14 (Fri)
      p.coming GRAND OPEN

  #content-wrapper
    #content 
      h2 NICE TO MEET YOU!
      p.sub your neighborhood grocerystore
      p.introduce はじめまして。ナイスグロサリーです。<br>店内で焼き上げたパンやサンドイッチ、<br>全国から揃えたこだわりの食材を販売する食料品店が<br>静岡市にオープンいたします。

      .about 
        h3 ナイスをわたしとあなたに。
        p ナイスグロサリーのコンセプトは、<br>Nice to meet youを捩った『Nice to Me, to You』です。<br>自分や相手や地元など、当店を通じていいね！と言い合えたり、<br>感じることができたらナイスだなという思いから名づけました。
        p 肩肘はらず、コンビニライクで気軽に使えるお店を目指しています。
        p あなたのナイスを探しにぜひお越しください。
      

      img(src=imagePath+"nicetomeetyou.png", alt="").nicetomeetyou

    #shop 
      h2 NICE GROCERY
      a(href="https://www.google.com/maps/place/%E3%80%92420-0858+%E9%9D%99%E5%B2%A1%E7%9C%8C%E9%9D%99%E5%B2%A1%E5%B8%82%E8%91%B5%E5%8C%BA%E4%BC%9D%E9%A6%AC%E7%94%BA%EF%BC%91%EF%BC%92%E2%88%92%EF%BC%99+1f/@34.9746336,138.3891253,19z/data=!3m1!4b1!4m5!3m4!1s0x601a49f8312f87a9:0x31b67a77d7d1f880!8m2!3d34.9746336!4d138.389769?entry=ttu&g_ep=EgoyMDI1MDkwOS4wIKXMDSoASAFQAw%3D%3D", target="_blank").address 静岡県静岡市葵区伝馬町12-9 1F
      p 営業時間：10:00〜19:00<br>定休日：火曜・水曜
      a(href="https://www.instagram.com/nice_grocery_/", target="_blank").insta 
        img(src=imagePath+"instagram.png", alt="")
        | nice_grocery_ 
      
  script(src='asset/js/script.js')