*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

pre {
  font-family: monospace, monospace;
  font-size: inherit;
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-color: inherit;
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

html {
  font-size: 62.5%;
}
html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}
html body .clearfix {
  display: inline-block;
  height: 1%;
}
html body .clearfix::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
html body img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 980px) {
  html body .pc {
    display: block;
  }
  html body .sp {
    display: none !important;
  }
}
@media screen and (max-width: 980px) {
  html body .sp {
    display: block;
  }
  html body .pc {
    display: none !important;
  }
}
html body .scroll-in {
  opacity: 0;
  transform: translateY(20px);
}
html body .scroll-in.show {
  opacity: 1;
  transition: 0.5s ease;
  transform: none;
}

:root {
  --bg: #ece3d4;
  --disp-height: 100svh;
}

html body {
  background-color: var(--bg);
  font-family: "osaka", sans-serif;
}
html body #main-visual {
  width: 100%;
  height: var(--disp-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #main-visual h1 {
  width: 250px;
}
@media screen and (min-width: 980px) {
  html body #main-visual h1 {
    width: 600px;
  }
}
html body #main-visual h1 img {
  display: block;
}
html body #main-visual h1 .nice {
  width: 70%;
  margin-inline: auto;
  margin-bottom: -5%;
}
html body #main-visual .text-area {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  text-align: center;
  margin-inline: auto;
  font-family: "chivo", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-style: italic;
}
html body #main-visual .text-area .lead {
  font-size: 1.8rem;
}
html body #main-visual .text-area .coming {
  font-size: 1.6rem;
}
html body #content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100%;
  position: relative;
}
html body #content {
  text-align: center;
  margin-top: 0px;
}
html body #content h2 {
  font-family: "chivo", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2rem;
}
html body #content .sub {
  font-size: 1.3rem;
  font-family: "chivo", sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-top: 5px;
}
html body #content .introduce {
  font-size: 1.2rem;
  line-height: 2;
  margin-top: 20px;
}
html body #shop {
  text-align: center;
  margin-top: 150px;
  padding-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  bottom: 20px;
}
html body #shop h2 {
  font-family: "chivo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 5px;
}
html body #shop .address {
  font-size: 1rem;
  text-decoration: underline;
}
html body #shop .address:hover {
  text-decoration: none;
}
html body #shop .insta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 10px;
  margin-inline: auto;
}
html body #shop .insta:hover {
  text-decoration: underline;
}
html body #shop .insta img {
  width: 20px;
  margin-right: 5px;
}
